@page
@model yuvap.Pages.YP.pBoyLikes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BoyLikes[0].Boys)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoyLikes[0].BoyPrefersNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BoyLikes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Boys.BoyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoyPrefersNavigation.GirlId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BoyId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BoyId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BoyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
